body {
    font-family: 'Space Mono', monospace;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: gold;
}

.title {
    font-size: 63px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.square, .row {
    background-color: white;
    flex: 1;
}

.square:hover{
    background-color: red;
  }

.hovered{
    background-color: black;
}
